{ pkgs ? import <nixpkgs> { } }:

let

{{ #each templates }}
  {{this}} = ./inix/{{this}}/shell.nix { };
{{ /each }}

in
pkgs.mkShell {
  inputsFrom =

{{ #each templates }}
  {{this}}.inputsFrom ++
{{ /each }}
    [
      # extra inputs
    ]

  packages =
{{ #each templates }}
  {{this}}.packages ++
{{ /each }}
    [
      # extra packages
    ];
}
